// Global variables
$graph-svg-color: #fff;
$graph-cell-color: #ebedf0;
$graph-font-color: #767676;
$contribution-level-0 : #ebedf0;
$contribution-level-1 : #c6e48b; 
$contribution-level-2 : #7bc96f;
$contribution-level-3 : #239a3b;
$contribution-level-4 : #196127;



html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph__container{
    width: 500px;
}

.graph__svg{
    background-color: $graph-svg-color;
}

.graph__cell{
    fill: $graph-cell-color;
}

.graph__wday, .graph__month{
    font-size: 9px;
    fill: #767676;
}

.contribution__level__0 {
    fill: $contribution-level-0;
}

.contribution__level__1 {
    fill: $contribution-level-1;
}

.contribution__level__2 {
    fill: $contribution-level-2;
}

.contribution__level__3 {
    fill: $contribution-level-3;
}

.contribution__level__4 {
    fill: $contribution-level-4;
}

.graph__tooltip{
    position:absolute;
    z-index:99999;
    padding:10px;
    font-size:12px;
    color:#959da5;
    text-align:center;
    background:rgba(0,0,0,.8);
    border-radius:3px;
    pointer-events: none;

}
.graph__tooltip strong{
    color:#dfe2e5;
}

.graph__tooltip.is-visible{
    display:block;
}

.graph__tooltip:after{
    position:absolute;
    bottom:-10px;
    left:50%;
    width:5px;
    height:5px;
    box-sizing:border-box;
    margin:0 0 0 -5px;
    content:" ";
    border:5px solid transparent;
    border-top-color:rgba(0,0,0,.8);
}

.graph__tooltip__one__line{
    white-space:nowrap;
}